# Tutorial Pandas

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib as plt

## Dataframe

In [ ]:
n = 1000
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers), columns=['names', 'numbers'], index=days)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:
df.to_numpy()

## Series

In [ ]:
names_series = df.names; names_series

## Indexing

In [ ]:
# indexing con interi (iloc)
df.iloc[0, :]

In [ ]:
df.iloc[1:4, :]

In [ ]:
df.iloc[1:4, 0]

In [ ]:
# indexing con lable (loc)
df

In [ ]:
# dataframe
df.loc['2018-01-04':, ['numbers']]

In [ ]:
# series
df.loc['2018-01-04':, 'numbers']

In [ ]:
# accesso veloce a singoli elementi con at e iat
df.at['2018-01-04', 'numbers']

In [ ]:
df.iat[5, 1]

In [ ]:
# maschere
df['numbers'] > 5

In [ ]:
# si può fare anche con loc e iloc
len(df[df['numbers'] > 5])

In [ ]:
# WARNING!!!!!

# le parentesi sono necessarie perché gli operatori logici hanno una priorità
# maggiore rispetto a quelli di confronto

len(df[(df['numbers'] > 5) & (df['numbers'] < 8)])

In [ ]:
# WARNING

# vanno utilizzati gli operatori logici element-wise di Pandas

len(df[(df['numbers'] > 5) and (df['numbers'] < 8)])

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

# una riga è una serie che ha come indice le colonne
for index, row in df.iterrows():
    print(f'index={index}, row={row}')

In [ ]:
for index, elem in df['A'].iteritems():
    print(f'index={index}, elem={elem}')

## Unione
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[8, 9, 10, 11])

In [ ]:
pd.concat((df1, df2, df3))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[0, 1, 2, 3])

In [ ]:
pd.concat((df1, df2, df3), ignore_index=True)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
    'F': ['B4', 'B5', 'B6', 'B7'],
    'G': ['C4', 'C5', 'C6', 'C7'],
    'H': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

In [ ]:
pd.concat((df1, df2))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'F': ['A4', 'A5', 'A6']},
    index=[0, 2, 4])

In [ ]:
pd.concat((df1, df2))

In [ ]:
pd.concat((df1, df2), axis=1)

In [ ]:
pd.concat((df1, df2), axis=1, join='inner')

In [ ]:
# Per join più complicati
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

# Allineamento

In [ ]:
a = pd.Series([10, 11, 12], index=[0, 1, 2])

In [ ]:
b = pd.Series([10, 11, 12], index=[2, 3, 4])

In [ ]:
a + b

## Valori Nan

<img src="imgs\nan_operations.png" width="600">

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date')

In [ ]:
df.info()

In [ ]:
# se si vogliono trattare i valori infiniti come nan bisogna attivare l'opzione
df.notna()

In [ ]:
df.isna()

In [ ]:
s = pd.Series(np.array([np.nan, 2, 3, 4, np.nan, np.nan]))

In [ ]:
s.fillna('missing')

In [ ]:
s.fillna(method='pad', limit=1)

In [ ]:
s.fillna(method='bfill', limit=1)

In [ ]:
df = pd.DataFrame(s)

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna
df.dropna()

In [ ]:
# fill i valori di una tabella
dff = pd.DataFrame(np.random.randn(10, 3), columns=list('ABC'))
dff.iloc[3:5, 0] = np.nan
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan

In [ ]:
dff.mean()

In [ ]:
dff.fillna(dff.mean())

In [ ]:
dff.fillna(dff.mean()['B':'C'])

In [ ]:
# fill con interpolazione

## Plot
https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df['Close'].plot(figsize=(25,10))

In [ ]:
df[[col for col in df.columns if col not in ['Turnover', 'Traded Volume'] ]].plot(figsize=(25,10))

## Rolling
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df.head()

In [ ]:
df['Close'].plot(figsize=(15, 15))

In [ ]:
# il rolling può essere effettuato anche specificando un intervallo temporale piuttosto che il numero di elementi
smooth_close = df['Close'].rolling(window=20, center=True, min_periods=1).mean(); smooth_close

In [ ]:
smooth_close.plot(figsize=(15, 15))

## Variabili categoriche

In [4]:

df = pd.read_csv('https://www.kaggle.com/lespin/house-prices-dataset?select=train.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

## Groupby

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
n = 1000
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]
ages = [random.randint(30, 80) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers, ages), columns=['names', 'numbers', 'ages'], index=days)

In [ ]:
df.head()

In [ ]:
grouped = df.groupby('names')

for name, group in grouped:
    print(name)
    print(group)

In [ ]:
grouped.get_group('Angelo')

<img src="imgs\aggregazione.png" width=400>

In [ ]:
grouped.size()

In [ ]:
grouped.describe()

In [ ]:
grouped.std()

In [ ]:
## Aggregazione
df.groupby('names').agg(lambda x: sum(x))

In [ ]:
# Trasformazione
df.groupby(['names']).transform(lambda x: (x - x.mean()) / x.std())

In [ ]:
# Filtraggio
df.groupby(['names']).filter(lambda x: x['numbers'].sum() < 1940)

## Alternative a Pandas

Limiti di Pandas:

* Non parallelizza i calcoli
* Carica l'intero Dataset in memoria

Modin, Dask

# Esercizi

In [ ]:
# load AAD_X (Date come indice)
df = pd.read_csv(r'F:\Documenti\insegnamento\pandas\data\FSE\AAD_X.csv', parse_dates=['Date'], index_col='Date')

In [ ]:
# visualizza la colonna open

In [ ]:
# conta i nan nella colonna open e riempili con interpolazione lineare

In [ ]:
# aggiungi una colonna con i ritorni giornalieri (relativi alla colonna open) (es 0.02 se +2%)

In [ ]:
# calcola il ritorno mensile medio