# Tutorial Pandas

In [2]:
import pandas as pd
import numpy as np
import random
import matplotlib as plt

## Dataframe

In [ ]:
n = 1000
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers), columns=['names', 'numbers'], index=days)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:
df.to_numpy()

## Series

In [ ]:
names_series = df.names; names_series

## Indexing

In [ ]:
# indexing con interi (iloc)
df.iloc[0, :]

In [ ]:
df.iloc[1:4, :]

In [ ]:
df.iloc[1:4, 0]

In [ ]:
# indexing con lable (loc)
df

In [ ]:
# dataframe
df.loc['2018-01-04':, ['numbers']]

In [ ]:
# series
df.loc['2018-01-04':, 'numbers']

In [ ]:
# accesso veloce a singoli elementi con at e iat
df.at['2018-01-04', 'numbers']

In [ ]:
df.iat[5, 1]

In [ ]:
# maschere
df['numbers'] > 5

In [ ]:
# si può fare anche con loc e iloc
len(df[df['numbers'] > 5])

In [ ]:
# WARNING!!!!!

# le parentesi sono necessarie perché gli operatori logici hanno una priorità
# maggiore rispetto a quelli di confronto

len(df[(df['numbers'] > 5) & (df['numbers'] < 8)])

In [ ]:
# WARNING

# vanno utilizzati gli operatori logici element-wise di Pandas

len(df[(df['numbers'] > 5) and (df['numbers'] < 8)])

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

# una riga è una serie che ha come indice le colonne
for index, row in df.iterrows():
    print(f'index={index}, row={row}')

In [ ]:
for index, elem in df['A'].iteritems():
    print(f'index={index}, elem={elem}')

## Unione
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[8, 9, 10, 11])

In [ ]:
pd.concat((df1, df2, df3))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']},
    index=[0, 1, 2, 3])

In [ ]:
pd.concat((df1, df2, df3), ignore_index=True)

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'E': ['A4', 'A5', 'A6', 'A7'],
    'F': ['B4', 'B5', 'B6', 'B7'],
    'G': ['C4', 'C5', 'C6', 'C7'],
    'H': ['D4', 'D5', 'D6', 'D7']},
    index=[4, 5, 6, 7])

In [ ]:
pd.concat((df1, df2))

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']},
    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'F': ['A4', 'A5', 'A6']},
    index=[0, 2, 4])

In [ ]:
pd.concat((df1, df2))

In [ ]:
pd.concat((df1, df2), axis=1)

In [ ]:
pd.concat((df1, df2), axis=1, join='inner')

In [ ]:
# Per join più complicati
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

# Allineamento

In [ ]:
a = pd.Series([10, 11, 12], index=[0, 1, 2])

In [ ]:
b = pd.Series([10, 11, 12], index=[2, 3, 4])

In [ ]:
a + b

## Valori Nan

<img src="imgs\nan_operations.png" width="600">

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date')

In [ ]:
df.info()

In [ ]:
# se si vogliono trattare i valori infiniti come nan bisogna attivare l'opzione
df.notna()

In [ ]:
df.isna()

In [ ]:
s = pd.Series(np.array([np.nan, 2, 3, 4, np.nan, np.nan]))

In [ ]:
s.fillna('missing')

In [ ]:
s.fillna(method='pad', limit=1)

In [ ]:
s.fillna(method='bfill', limit=1)

In [ ]:
df = pd.DataFrame(s)

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna
df.dropna()

In [ ]:
# fill i valori di una tabella
dff = pd.DataFrame(np.random.randn(10, 3), columns=list('ABC'))
dff.iloc[3:5, 0] = np.nan
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan

In [ ]:
dff.mean()

In [ ]:
dff.fillna(dff.mean())

In [ ]:
dff.fillna(dff.mean()['B':'C'])

In [ ]:
# fill con interpolazione

## Plot
https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df['Close'].plot(figsize=(25,10))

In [ ]:
df[[col for col in df.columns if col not in ['Turnover', 'Traded Volume'] ]].plot(figsize=(25,10))

## Rolling
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

In [ ]:
df = pd.read_csv('data\FSE\GXI_X.csv', index_col='Date', parse_dates=['Date'])

In [ ]:
df.head()

In [ ]:
df['Close'].plot(figsize=(15, 15))

In [ ]:
# il rolling può essere effettuato anche specificando un intervallo temporale piuttosto che il numero di elementi
smooth_close = df['Close'].rolling(window=20, center=True, min_periods=1).mean(); smooth_close

In [ ]:
smooth_close.plot(figsize=(15, 15))

## Variabili categoriche

In [5]:
# https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
df = pd.read_csv('https://raw.githubusercontent.com/btlgs2000/machine_learning_basic/master/data/house-prices-advanced-regression-techniques/train.csv')

In [7]:
df['MSZoning'].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

In [9]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [12]:
pd.get_dummies(df)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,1,0,0,0,0,1,0

In [15]:
pd.get_dummies(df, columns=['MSZoning'])

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,1,60,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,2,20,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,3,60,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,4,70,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,5,60,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,12,2008,WD,Normal,250000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,8,2007,WD,Normal,175000,0,0,0,1,0
1456,1457,20,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,2,2010,WD,Normal,210000,0,0,0,1,0
1457,1458,70,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,5,2010,WD,Normal,266500,0,0,0,1,0
1458,1459,20,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,4,2010,WD,Normal,142125,0,0,0,1,0
1459,1460,20,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,6,2008,WD,Normal,147500,0,0,0,1,0

In [18]:
dummies = pd.get_dummies(df['MSZoning'], prefix='MSZoning')

In [20]:
pd.concat([df, dummies], axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MoSold,YrSold,SaleType,SaleCondition,SalePrice,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,2,2008,WD,Normal,208500,0,0,0,1,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,5,2007,WD,Normal,181500,0,0,0,1,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,9,2008,WD,Normal,223500,0,0,0,1,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,2,2006,WD,Abnorml,140000,0,0,0,1,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,12,2008,WD,Normal,250000,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,8,2007,WD,Normal,175000,0,0,0,1,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,2,2010,WD,Normal,210000,0,0,0,1,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,5,2010,WD,Normal,266500,0,0,0,1,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,4,2010,WD,Normal,142125,0,0,0,1,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,6,2008,WD,Normal,147500,0,0,0,1,0

In [22]:
df['Utilities'].unique()

array(['AllPub', 'NoSeWa'], dtype=object)

In [28]:
df.Utilities = df.Utilities.replace(['AllPub', 'NoSeWa'], [4, 2])

## Groupby

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
n = 1000
days = pd.date_range('2018-01-01', periods=n, freq='D')
names = [random.choice(['Angelo', 'Marco', 'Vittorio']) for _ in range(n)]
numbers = [random.randint(1, 10) for _ in range(n)]
ages = [random.randint(30, 80) for _ in range(n)]

df = pd.DataFrame(data=zip(names, numbers, ages), columns=['names', 'numbers', 'ages'], index=days)

In [ ]:
df.head()

In [ ]:
grouped = df.groupby('names')

for name, group in grouped:
    print(name)
    print(group)

In [ ]:
grouped.get_group('Angelo')

<img src="imgs\aggregazione.png" width=400>

In [ ]:
grouped.size()

In [ ]:
grouped.describe()

In [ ]:
grouped.std()

In [ ]:
## Aggregazione
df.groupby('names').agg(lambda x: sum(x))

In [ ]:
# Trasformazione
df.groupby(['names']).transform(lambda x: (x - x.mean()) / x.std())

In [ ]:
# Filtraggio
df.groupby(['names']).filter(lambda x: x['numbers'].sum() < 1940)

## Alternative a Pandas

Limiti di Pandas:

* Non parallelizza i calcoli
* Carica l'intero Dataset in memoria

Modin, Dask

# Esercizi

In [ ]:
# load AAD_X (Date come indice)
df = pd.read_csv(r'F:\Documenti\insegnamento\pandas\data\FSE\AAD_X.csv', parse_dates=['Date'], index_col='Date')

In [ ]:
# visualizza la colonna open

In [ ]:
# conta i nan nella colonna open e riempili con interpolazione lineare

In [ ]:
# aggiungi una colonna con i ritorni giornalieri (relativi alla colonna open) (es 0.02 se +2%)

In [ ]:
# calcola il ritorno mensile medio